[REPORTS]
include-ids=yes
comment=yes

[MESSAGES CONTROL]
disable=C0111,R0801,W0232,W0603,W0622,W0702,W0141


[DESIGN]
min-public-methods=0

[FORMAT]
max-line-length=130
indent-string='\t'

[VARIABLES]
additional-builtins=_
