[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "*"
flake8 = "*"
black = "*"
twine = "*"
coverage = "*"
coveralls = "*"

[pipenv]
allow_prereleases = true
